.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
}

.form label {
  /* margin: 1rem 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  cursor: pointer;
  background-color: indigo;
  padding: 0.5rem 3rem;
  color: white;
}

input,
textarea {
  margin-left: 0.5rem;
  padding: 0.5rem 0.5rem;
}
textarea {
  height: 10rempx;
  width: 20rem;
  resize: none;
}
